html {
    scroll-behavior: smooth;
}

.navbar-nav{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #202124;

}
.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
    float: left;
    position: relative;
}

.navbar-light .navbar-nav .active a::after {
    border-bottom: 5px solid #5bc0eb;
    bottom: -10px;
    left: 0;
    position: absolute;
    right: 0;
  }
.bold-big{
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
}
.regular-small{
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}
.m-t-150{
    margin-top: 150px;
}
.m-t-80{
    margin-top: 80px;
}
.m-t-40{
    margin-top: 40px;
}
.right-align{
    text-align: right !important;
}
a{
    text-align: center;
    color: black;
}
.m-b-0{
    margin-bottom: 0px;
}
.m-b-120{
    margin-bottom: 120px;
}
hr.solid {
    border-top: 3px solid #bbb;
}
.heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #202124;
}
.sub-heading{
    font-family: Hind;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 38px;
    color: #4D5156;
}
#bottom-arrow{
    transition: top 0.3s;
}
.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    color:000;
}
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}