html {
    scroll-behavior: smooth;
}
.navbar-nav{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #202124;

}
.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
    float: left;
    position: relative;
}

.navbar-light .navbar-nav .active a::after {
    border-bottom: 5px solid #5bc0eb;
    bottom: -10px;
    left: 0;
    position: absolute;
    right: 0;
  }
.bold-big{
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
}
.regular-small{
    font-family: 'Hind', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}
.m-t-150{
    margin-top: 150px;
}
.m-t-80{
    margin-top: 80px;
}
.m-t-40{
    margin-top: 40px;
}
.m-t-20{
    margin-top: 20px;;
}
.right-align{
    text-align: right !important;
}
a{
    text-align: center;
    color: black;
}
.m-b-0{
    margin-bottom: 0px;
}
.m-b-80{
    margin-bottom: 80px;
}
.m-b-120{
    margin-bottom: 120px;
}
.p-l-40{
    padding-left: 40px;

}
hr.solid {
    border-top: 3px solid #bbb;
}
.heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #202124;
}
.sub-heading{
    font-family: Hind;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 38px;
    color: #4D5156;
}
#bottom-arrow{
    transition: top 0.3s;
}
.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    color:000;
}
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}

.my-text{
    font-family: Montserrat;
    margin-bottom: 0px;
    font-style: bold;
    font-weight: bold;
    font-size: 16px;
    color: #202124;
    line-height: 24px;
}
.my-subtext{
    font-family: 'Hind', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: light;
    font-weight: 300;
    font-size: 14px;
    color: #4D5156;
    line-height: 24px;
}
.feature-row{
    /* border-style: solid; */
    margin-top: 40px;
    margin-bottom: 15px;
    justify-content: center;
}
.feature-subrow{
    /* border-style: solid; */
    margin-bottom: 30px;
}
.feature-col{
    /* border-style: dotted; */
    padding-left: 10px;
    padding-right: 15px;
    margin-left: 30px;
}
.box {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.my-img{
    filter: drop-shadow(10px 5px 20px rgba(0, 0, 0, 0.25));
}
.button{
    background: #8BE274;
    border: 0px solid #8BE274;
    box-sizing: border-box;
    border-radius: 12px;
    width: 200px;
    height: 40px;
}
.button .btn-text{
    font-family: Montserrat;
    font-style: medium;
    font-weight: medium;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0 auto;
}
.hide {
    display: none;
}
.feature-subrow:hover .hide {
    display: block;
}

.mycard {
    border: 0;
    width: 300px;
    height: 300px;
    transition: 0.3s;
    border-radius: 12px;
    /* box-shadow: 0 0 1.5px 0 rgba(0,0,0,0.25); */
}

.mycard:hover {
    box-shadow: 0 4px 25px 0 rgba(0,0,0,0.25);
}
.im {
    height: 50%;
    width: 72%;
    margin-top: 10%;
}

.my-col{
    /* border-style: dotted; */
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#feature_tour, #distributor_features, #reseller_features, .div2, .div3, .div4, .div5{
    display: none;
}
div > p >a {
    color:#8BE274;
    
}
div>ul>li>a{
    color:#8BE274;
}

#card-extra {
    width: 95% !important;
    border-radius: 25px;
    border: 1px solid rgba(0,0,0,0.25) ;
    margin-bottom: 2em;
    height: auto;
}

#card-extra:hover{
    box-shadow: none;
}

.pricing{
    font-size: 0.9rem;
}
.tooltip {
    position: relative;
    display: inline-block;
    opacity: unset;   
    cursor: pointer; 
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
  }

i{
    padding: 0 0.5em 0 0.5em;
}
#card-header_pro-plus{
    padding: 1em 0 1em 1em;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: white;
    background-color: #B896FF;
}
#card-header_free{
    padding: 1em 0 1em 1em;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: white;
    background-color: #FF9CFB;
}
#card-header_lite{
    padding: 1em 0 1em 1em;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: white;
    background-color: #7BC7FF;
}
#card-header_pro{
    padding: 1em 0 1em 1em;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: white;
    background-color: #B896FF
    ;
}


.mt-5 {
    margin-top: 100 !important;
}
.my-row{
    /* border-style: solid; */
    margin-top: 15px;
    margin-bottom: 15px;
}
.my-row1{
    /* border-style: solid; */
    border-color: red;
    /* margin-bottom: 30px; */
}
.my-row2{
    margin: 0;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
}
.title {
    font-family: Montserrat;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    color: #202124;
    line-height: 59px;
    margin-top: 100 !important;
}
.title1 {
    font-family: Montserrat;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    color: #202124;
    line-height: 59px;
    margin-top: 100 !important;
}
.sub-title {
    font-family: 'Hind', sans-serif;
    font-style: light;
    font-weight: light;
    font-size: 20px;
    color: #4D5156;
    line-height: 38px;
}

.my-img{
    filter: drop-shadow(10px 5px 20px rgba(0, 0, 0, 0.25));
}
.rect{
    background: #8BE274;
    border: 0px solid #8BE274;
    box-sizing: border-box;
    border-radius: 12px;
    width: 450px;
    height: 52px;
}
.nav-img {
    opacity: 0.5;
}
.nav-img:hover{
    opacity: 0.7;
}
.active {
    opacity: 1;
}
#div1{
    display: block;
}
#div2, #div3, #div4, #div5{
    display: none;
}
.mb-40{
    margin-bottom: 40px;
}
input:focus{
    outline: none;
}

#accordion .card .card-link{
    position: relative;
    display: block;
    text-decoration: none;
    text-align: left;
}
#accordion .card .card-header{
    padding-bottom: 20px;
    background-color:#F5FCED;
}
#accordion .card .card-link .fa{
    position: absolute;
    top: 5px;
    right: 5px;
}
#footer{
    text-align: -webkit-center;
}
a:active {
    background-color: yellow;
  }
